<server description="Sample Liberty server">
    <!-- tag::featureManager[] -->
    <featureManager>
        <!-- tag::cdiFeature[] -->
        <feature>cdi-2.0</feature>
        <!-- end::cdiFeature[] -->
        <!-- tag::sslFeature[] -->
        <feature>ssl-1.0</feature>
        <!-- end::sslFeature[] -->
        <!-- tag::mpConfigFeature[] -->
        <feature>mpConfig-2.0</feature>
        <!-- end::mpConfigFeature[] -->
        <!-- tag::passwordUtilFeature[] -->
        <feature>passwordUtilities-1.0</feature>
        <!-- end::passwordUtilFeature[] -->
        <feature>beanValidation-2.0</feature>	   
        <feature>jaxrs-2.1</feature>
        <feature>mpOpenAPI-2.0</feature>
    </featureManager>
    <!-- end::featureManager[] -->

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/mongo"/>

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint
        host="*" 
        httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" 
        id="defaultHttpEndpoint"
    />
    <!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
    <webApplication 
        location="guide-mongodb-intro.war" 
        contextRoot="${app.context.root}"
    />
    <!-- end::webApplication[] -->
    <!-- tag::sslContext[] -->
    <!-- tag::keyStore[] -->
    <keyStore
        id="outboundTrustStore" 
        location="${server.output.dir}/resources/security/truststore.p12"
        password="mongodb"
        type="PKCS12" 
    />
    <!-- end::keyStore[] -->
    <!-- tag::ssl[] -->
    <ssl 
        id="outboundSSLContext" 
        keyStoreRef="defaultKeyStore" 
        trustStoreRef="outboundTrustStore" 
        sslProtocol="TLS" 
    />
    <!-- end::ssl[] -->
    <!-- end::sslContext[] -->
</server>
